<div class="sticky top-0 left-0 w-full z-50">
    <header class="flex bg-black justify-start gap-x-40 py-4 text-white items-center px-5">
        <div class="font-semibold object-contain w-[135px] h-[37px] select-none">
            <img src="assets/logo/logo.png" alt="logo image" class="w-[135px] h-[37px]">
        </div>
        <ul class="hidden md:flex gap-x-10 font-semibold text-lg">
            <li>
                <a href="#" [class.active-header]="active==='home'" (click)="setActive('home')" >Home</a>
            </li>
            <li>
                <a href="#" [class.active-header]="active==='jobs'" (click)="setActive('jobs')">Jobs</a>
            </li>
            <li>
                <a href="#" [class.active-header]="active==='signin'" (click)="setActive('signin')">Sign in</a>
            </li>
            <li>
                <a href="#" [class.active-header]="active==='about'" (click)="setActive('about')">About us</a>
            </li>
            <li>
                <a href="#" [class.active-header]="active==='blog'" (click)="setActive('blog')">Blog</a>
            </li>
        </ul>
    </header>
</div>
