<footer class="p-[200px] bg-slate-900 flex justify-center">
    <!-- newsletter -->

    <div>
        <h1 class="text-center text-xl">Join Our NewsLetter</h1>
        <p>
            &apos;Stay in the loop and never miss out on our latest updates and
            exclusive content. Subscribe to our newsletter to receive fresh
            insights and news delivered right to your inbox.&apos;
        </p>
        <div class="bg-white rounded-xl py-3 flex gap-2 items-center">
            <input type="text" />
            <button>subscribe</button>
        </div>
    </div>
</footer>
