<section class="w-full md:h-screen bg-image font-poppins">
    <div class="flex w-full flex-wrap items-center h-full">
        <div class="my-6 px-3 md:w-1/2 w-full self-start">
            <div class="text-4xl text-shadow-white-glow text-white font-bold my-2 flex items-center">
                <span>Your Gateway</span> <span><img src="assets/gif/astronaut.gif" alt="astronaut" class="h-20"></span>
            </div>
            <div class="text-4xl text-shadow-white-glow text-white font-bold my-2">To Infinite Opportunities</div>
            <div class="text-lg text-white my-2 tracking-wide">"Explore endless learning and career opportunities against a cosmic backdrop."</div>
            <div class="flex items-center mt-5">
                <button class="peer w-fit shadow-white-blur z-50 bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 text-[14px] sm:text-lg md:text-xl font-semibold text-white rounded-3xl px-10 py-2">Open the gateway</button>
                <img src="assets/gif/rocket.gif" alt="rocket gif" class="h-32 w-32 rotate-[90deg] z-10 duration-500  peer-hover:block -translate-x-32 transform peer-hover:translate-x-10 transition-all ease-in-out">
            </div>
        </div>
        <div class="flex flex-col justify-center items-center md:w-1/2 h-1/2 w-full">
            <div>
                <img src="assets/gif/rocket_astronaut.gif" alt="rocket astronaut" class="h-20">
            </div>
            <div class="text-white text-[28px] font-medium">
                Search Opportunity
            </div>
            <div class="flex items-center rounded-3xl bg-white border-yellow-300 border-2 px-4 py-2 gap-x-4 w-[380px] mt-5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-[#aaaaaa]">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
                <input type="text" placeholder="Job Internship..." class="focus:outline-none w-full text-slate-600 placeholder:text-lg placeholder:text-slate-600">
            </div>
        </div>
    </div>
</section>


