<section class="">
    <div>
        <div class="section-header">COMPANY
            SPOTLIGHT
        </div>
        <p class="section-para">
            Discover the essence of company in the Spotlight. Learn more about the mission, values, and achievements. Get a
            closer look at what sets this the company apart.
        </p>
        <div class="flex justify-center items-center flex-wrap-reverse">
            <div class="md:w-1/2 w-full self-end">
                <h1 class="gradient-text text-4xl tracking-wider text-shadow-white-glow px-3 py-2">
                    Unlock your professional future
                </h1>
                <p class="text-white tracking-wide px-3 pt-4">
                    In the fast-paced and competitive job market, students face the challenge of not only excelling
                    academically but also becoming employable even before graduation. This blog aims to guide you through
                    the journey of enhancing your employability while still studying, providing practical tips to set you on
                    the path to a successful and fulfilling career.
                </p>
                <div class="px-3 my-5">
                    <button class="gradient-bg px-5 py-2 text-xl font-semibold text-white">
                        Read More
                    </button>
                </div>
            </div>
            <div class="md:w-1/2 md:h-[80%] h-[250px] w-[564px]">
                <img src="assets/gif/astronaut.gif" alt="Astronaut Gif" class="md:h-[80%] h-[250px]">
            </div>
        </div>
    </div>
</section>
