<section
    class="bg-image2 flex flex-col justify-between items-center gap-y-10 py-10 h-[120vh]"
>
    <div class="">
        <div class="section-header">COMPANY SPOTLIGHT</div>
        <p class="text-white text-center tracking-wide my-2 p-2">
            Discover the essence of company in the Spotlight. Learn more about
            the mission, values, and achievements. Get a closer look at what
            sets this the company apart.
        </p>
    </div>
    <div class="flex items-center px-5">
        <div class="md:w-1/2 w-full">
            <h1
                class="text-white text-4xl tracking-wider text-shadow-white-glow px-3 py-2 font-semibold"
            >
                Unlock your professional future
            </h1>
            <p class="text-yellow-300 tracking-wide px-3 pt-4 text-wrap">
                In the fast-paced and competitive job market, students face the
                challenge of not only excelling academically but also becoming
                employable even before graduation. This blog aims to guide you
                through the journey of enhancing your employability while still
                studying, providing practical tips to set you on the path to a
                successful and fulfilling career.
            </p>
            <div class="px-3 my-5">
                <button
                    class="gradient-bg px-5 py-2 text-xl font-semibold text-white rounded-3xl"
                >
                    Read More
                </button>
            </div>
        </div>
    </div>
</section>
