<section class="min-h-screen flex justify-center items-center py-8">
    <div>
        <h1
            class="sm:text-2xl md:text-4xl lg:text-5xl text-white text-center font-semibold tracking-widest text-shadow-white-glow"
        >
            How It Works
        </h1>
        <div class="flex flex-wrap gap-8 mt-20 justify-center mx-2">
            <div
                class="w-full sm:w-[400px] px-6 py-16 rounded-xl bg-white relative overflow-hidden group z-20"
            >
                <div
                    class="absolute bg-orange-400 w-[70px] group-hover:w-full group-hover:h-full h-[70px] top-0 right-0 rounded-es-full -z-10 transition-all ease-in-out duration-300"
                ></div>
                <img
                    src="assets/section/job-search.svg"
                    alt="img1"
                    class="mb-10 w-24 h-24 mx-auto rotateImg transition-all z-20 relative"
                />
                <h1 class="text-2xl text-center font-semibold group-hover:text-white transition-all duration-300">
                    1. Search a job
                </h1>
                <p class="pt-4 text-base tracking-widest text-center">
                    Looking for your next career opportunity? Explore our job
                    listings and find the perfect match for your skills and
                    aspirations. Your dream job may be just a click away!
                </p>
            </div>
            <div
                class="w-full sm:w-[400px]  px-6 py-16 rounded-xl bg-white group relative z-20"
            >
                <div
                    class="absolute bg-orange-400 w-[70px] group-hover:w-full group-hover:h-full h-[70px] top-0 right-0 rounded-es-full -z-10 transition-all ease-in-out duration-300"
                ></div>
                <img
                    src="assets/section/job-search2.svg"
                    alt="img1"
                    class="mb-10 w-24 h-24 mx-auto rotateImg"
                />
                <h1 class="text-2xl text-center font-semibold group-hover:text-white transition-all duration-300">
                    2. Apply for job
                </h1>
                <p class="pt-4 text-base tracking-widest text-center">
                    Ready to take the next step in your career? Browse our job
                    openings and start your application process today. Your
                    future awaits - apply for your dream job now!.
                </p>
            </div>
            <div
                class="w-full sm:w-[400px]  px-6 py-16 rounded-xl bg-white group relative z-20"
            >
                <div
                    class="absolute bg-orange-400 w-[70px] group-hover:w-full group-hover:h-full h-[70px] top-0 right-0 rounded-es-full -z-10 transition-all ease-in-out duration-300"
                ></div>
                <img
                    src="assets/section/worker.svg"
                    alt="img1"
                    class="mb-10 w-24 h-24 mx-auto rotateImg"
                />
                <h1 class="text-2xl text-center font-semibold group-hover:text-white transition-all duration-300">
                    3. Get your job
                </h1>
                <p class="pt-4 text-base tracking-widest text-center">
                    Unlock your career potential with us! Browse through our job
                    listings and take the first step towards securing your dream
                    job. Your future career is just a few clicks away.
                </p>
            </div>
        </div>
    </div>
</section>
