<section class="my-5">
    <div>
        <div class="section-header text-left">
            Regular Challenge
        </div>

        <div class="section-para">
            Elevate your skills and embrace growth with our Regular Challenge – a daily journey to unlock your full
            potential.
        </div>
    </div>

    <div class="bg-white rounded-xl p-10 gap-y-3 flex justify-between flex-wrap">
        <div class="sm:w-1/2 w-full">
            <div class="gradient-text-purple font-semibold text-4xl text-wrap">
                Re-Imagine MyFuse : Design & code competition
            </div>
            <div class="text-xl text-slate-600 my-3 tracking-wide">Design your Future, code your success</div>
            <div class="gradient-bg my-3 p-0.5 rounded-lg w-[410px]">
                <button class="w-full bg-black text-white font-semibold text-xl rounded-lg px-5 py-2">Registration Closed</button>
            </div>
        </div>
        <div class="md:w-1/2 w-full flex justify-center">
            <div class="flex flex-col justify-end w-full items-center text-center gap-y-2">
                <div class="flex gap-x-3 items-center text-3xl text-slate-600 font-semibold border-dashed px-16 py-4 rounded-md border-2  border-black">
                    <span><img src="assets/section/trophy.png" alt="trophy image" class="h-8 w-8"></span>
                    <span>₹15000</span>
                </div>
                <div class="text-xs text-slate-600 text-center">Register to win cash & Eciting Prices</div>
            </div>
        </div>
    </div>
</section>
